.swiper-pagination-bullet {
  background: #000; /* Default color for pagination bullets */
}

.swiper-pagination-bullet-active {
  background: #e27900; /* Color for active pagination bullet */
}

.swiper-pagination {
  bottom: 20px !important;
}
